<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">鹏城医疗</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a title="放大" onclick="upsample()"><span class="glyphicon glyphicon-zoom-in"></span></a></li>
                <li><a title="缩小" onclick="downsample()"><span class="glyphicon glyphicon-zoom-out"></span></a></li>
                <li><a title="上一页" onclick="prev()"><span class="glyphicon glyphicon-arrow-left"></span></a></li>
                <li><a title="下一页" onclick="next()"><span class="glyphicon glyphicon-arrow-right"></span></a></li>
                <li><a title="移动" onclick="move()"><span class="glyphicon glyphicon-move"></span></a></li>
            </ul>
           <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:5000/index" title="返回主页"><span class="glyphicon glyphicon-log-out"></span>返回主页</a></li>
            </ul>
        </div>
    </div>
</nav>