<html  xmlns:th="http://www.thymeleaf.org">
<!--{% extends 'common/base.html'%}-->
<!--{% block content %}-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />-->

    <link rel="icon" th:href="@{/static/img/favicon.ico}"/>

    <title>
        用户登录
        </title>
<!--    {% block css %}-->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-theme.min.css}"/>

    <!-- 个性化主题文件 -->
    <!-- font-awesome样式主题文体 -->
    <link th:href="@{/css/font-awesome.css}" media="all" rel="stylesheet" type="text/css" />
    <!-- fileinput样式主题文体 -->
    <link th:href="@{css/fileinput.min.css}" media="all" rel="stylesheet" type="text/css" />
<!--    {% endblock %}-->

<!--    {% block js %}-->

<!--    {% endblock %}-->
</head>
<body>
<div class="container">
        <div class="form row">
            <form action="http://localhost:5000/login" method="post">
            <div class="form-horizontal col-md-offset-3" id="login_form">
                <h3 class="form-title">LOGIN</h3>
                <div class="col-md-9">
                    <div class="form-group">
                        <i class="fa fa-user fa-lg"></i>
                        <input class="form-control required" type="text" placeholder="Username" id="username" name="username" autofocus="autofocus" maxlength="20"/>
                    </div>
                    <div class="form-group">
                            <i class="fa fa-lock fa-lg"></i>
                            <input class="form-control required" type="password" placeholder="Password" id="password" name="password" maxlength="20"/>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="checkbox">-->
                            <!--<input type="checkbox" name="remember" value="1"/>记住我-->
                        <!--</label>-->
                    <!--</div>-->
                    <div class="form-group col-md-offset-9">
                        <button type="submit" class="btn btn-success pull-right" id="submit">登录</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
<!--<script>-->
    <!--$('#submit').click(function(){-->
        <!--$.ajax({-->
            <!--url: 'http://localhost:5000/login',-->
            <!--type: 'post',-->
            <!--data: {-->
                <!--user: $('#username').val(),-->
                <!--password: $('#password').val()-->
            <!--},-->
            <!--dataType:'json',-->
            <!--success:function(data){-->
                <!--alert(data);-->
                <!--if(data.status==200){-->
                    <!--window.loaction='/index';-->
                    <!--window.onload=function(){-->
                        <!--$('#logreg').hide();-->
                    <!--}-->
                <!--}else{-->
                    <!--alert(data.message);-->
                <!--}-->
            <!--}-->
        <!--}-->
        <!--)-->
    <!--});-->

<!--</script>-->
<!--{% endblock %}-->
<!--{%block css%}-->
<!--{{super()}}-->
<link rel= "stylesheet" th:href="@{/css/style.css}"/>
<!--{% endblock %}-->
</body>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script th:src="@{/js/jquery.min.js}"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- 个性化 js 文件 -->
<!-- piexif.min.js is only needed if you wish to resize images before upload to restore exif data.
 This must be loaded before fileinput.min.js -->
<script th:src="@{/js/plugins/piexif.min.js}" type="text/javascript"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
     This must be loaded before fileinput.min.js -->
<script th:src="@{/js/plugins/sortable.min.js}" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
     This must be loaded before fileinput.min.js -->
<script th:src="@{/js/plugins/purify.js}" type="text/javascript"></script>
<!-- the main fileinput plugin file -->
<script th:src="@{/js/fileinput.min.js}"></script>
<!-- optionally if you need a theme like font awesome theme you can include
    it as mentioned below -->
<script th:src="@{/js/themes/fa/theme.min.js}"></script>
<!-- optionally if you need translation for your language then include
    locale file as mentioned below -->
<script th:src="@{/js/locales/zh.js}"></script>
</html>